---
import BaseLayout from "../../layouts/BaseLayout.astro";
const body = "<div class=\"hub-intro\">\n  <h1>Podcast</h1>\n  <p>This page has moved. Visit <a href=\"/lectures/\">Lectures</a> for audio content.</p>\n</div>\n";
---

<BaseLayout title="Podcast" current="Podcast">
  <Fragment set:html={body} />
</BaseLayout>
